<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/wwwroot/css/output.css" rel="stylesheet">
  </head>
  <body>
    <div class="bg-blue-500">Bem Vindo!</div> 
  </body>
</html>
